.hidden-md-up.text-sm-center.mobile {
 //   display: flex;
    //justify-content: space-between;
}
#carousel{
    display:none !important;
    @include rwd(990px){
        display:block !important;
    }
}
#tPhone{
    font-family: var(--font_secundaria);
    font-size: 1.6em;
    position: absolute;
    top: 42%;
    left: 33%;
    @include rwd(442px){
        font-size: 2.2em;
        position: absolute;
       top: 38%;
        left: 31%;
    }
    @include rwd(768px){
        display:none;

    }

  
    
}

