#header .header-nav .top-logo a img {
    max-height: 90px;
    max-width: 100%;
    flex-grow: 4;
    margin-bottom: 20px;
    text-align: left;
}

div#_mobile_logo {
    flex-grow: 4;
    text-align: left;
}

.top-logo{
    padding-left: 10px;
}