:root{
    //font
    --font_principal: Chilanka;
    --font_secundaria: Gwendolyn;

    //Color
    --cell:#cde5ff;
    --blueMarine:#004563;
    --purple2:#a9c8e4;
    --cellDar: krgba(157, 204, 228, 0.897);
    --purple:rgb(143, 87, 207);

}